.text {
  font-size: 1.2rem;
  color: white;
  text-align: start;
  padding-left: 16px;
}

.img_detail {
  text-align: center;
}

.image_detail {
  cursor: pointer;
}

.button_detail {
  margin: 8px 0;
  width: 160px;
  text-align: center;
}

.original_title {
  cursor: pointer;
}
