.movie {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 32px;
}

.card-img-top.image {
  display: block;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  /* overflow: hidden; */
  overflow: hidden;
  border-color: black;
}

/* .card-img-top:hover {
  background: rgba(0, 0, 0, 0.8);
} */

.movie_title {
  background-color: black;
  /* height: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie_title_text {
  /* color: var(--title-color); */
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 8px;
}
